{% extends "base.html.twig" %}
{% block titulo %}Listado Proveedores{% endblock %}
{% block body %}

{# mensaje borrar proveedor  #}
{% for message in app.flashes('deleted') %}
<div class="alert alert-danger m-3 text-center flash-message fade show" role="alert">
	{{ message }}
</div>
{% endfor %}

{# mensaje añadir proveedor  #}
{% for message in app.flashes('nuevoProveedor') %}
<div class="alert alert-success text-center mt-4">{{ message }}</div>
{% endfor %}

{# mensaje generar 10 proveedores  #}
{% for message in app.flashes('generarProveedores') %}
<div class="alert alert-success text-center mt-4">{{ message }}</div>
{% endfor %}

{# llevaba mas de 3 horas intentando connectar docker, no habia manera
lo dejo tal como esta -> base de datos no se ha importado
butones no funcionan, nunca habia usado docker antes  #}

{# este index esta repartido en tablas para desktop y cartas para mobiles
tenia la tabla hecha al principio y estaba explorando algo mejor
iba a hacer carta con numeros 1 - 2 - 3 en un cuadro y despues hacer una ruta
que te lleva al proovedor exacto con su id y ahi tendras opciones de modificar o eliminar
pero eso consumira mas tiempo ya que llevo unas horas entre la table y las cartas..
he decidido poner dos versiones para no borar las cartas que me han gustado tambien al final.
las cartas al final son simples, creo que en una version de movil ira mejor, todo accesible
con una mano #}


{# script toggle mode light switch dark -> light #}
{# en una practica de javaScript en classe hemos hecho esta actividad
de dark-light mode, lo implemento aqui tambien #}
<button class="btn btn-dark m-2 mb-0" id="toggle-mode"><span class="text">Dark</span></button>

{# tabla para desktop #}

<div class=" container-fluid d-none d-md-block">

	<table class="table table-hover mt-4">
		<thead class="table-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Correo Electorinic</th>
				<th scope="col">Numero</th>
				<th scope="col">Tipo</th>
				<th scope="col">Activo</th>
				<th scope="col">Modificar</th>
				<th scope="col">Eliminar</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			{% for proveedor in proveedores %}
			<tr>
				<th scope="row">{{ loop.index }}</th>
				<td>{{ proveedor.nombre }}</td>
				<td>{{ proveedor.email }}</td>
				<td>{{ proveedor.telefono }}</td>
				<td>{{ proveedor.tipoProveedor }}</td>
				<td class="{{proveedor.activo? 'text-success' : 'text-danger'}}">{% if proveedor.activo %} si {% else %}
					no
					{% endif %}
				</td>
				<td>
					<a href="{{ path('modificar_proveedor', {id: proveedor.id}) }}" class="btn btn-warning ">
						Modificar
					</a>
				</td>
				<td>

					<button class="btn btn-danger" data-bs-toggle="modal"
						data-bs-target="#modal{{ proveedor.id }}">Borrar</button>
				</td>

			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{# carta para movil #}
<div class="container-fluid">

	<div class="row m-3 g-3 text-center d-md-none">
		{% for proveedor in proveedores %}
		<div class="col-12 col-sm-6 p-2">
			<div class="border rounded p-3 h-100 shadow-sm">
				<h5 class="text-muted text-center">
					<div class="border border-dark">{{ loop.index }}</div>
				</h5>
				<h5 class="fw-bold">{{ proveedor.nombre }}</h5>
				<p> <span class="fw-bold">Correo: </span> {{ proveedor.email }}</p>
				<p><span class="fw-bold">Telefono:</span> {{ proveedor.telefono }}</p>
				<p> <span class="fw-bold">Tipo:</span> {{ proveedor.tipoProveedor }}</p>
				<p> <span class="fw-bold">Activo:</span> <span
						class="{{proveedor.activo ? 'text-success' : 'text-danger' }}">{% if proveedor.activo %} si {%
						else %}
						no
						{% endif %}</span> </p>
				<div class="row g-2 mt-auto">
					<div class="col-6">
						<a href="{{ path('modificar_proveedor', {id: proveedor.id}) }}" class="btn btn-warning w-100">
							Modificar
						</a>
					</div>
					<div class="col-6">
						<button class="btn btn-danger w-100" data-bs-toggle="modal"
							data-bs-target="#modal{{ proveedor.id }}">Borrar</button>

					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{# voy a re utilizar un modal que usé en mi ultimo proyecto
pero de laravel, cambiare un par de cosas para que lo acepta symfony #}

{% for proveedor in proveedores %}
{# Modal #}
<div class="modal fade" id="modal{{ proveedor.id }}" tabindex="-1" aria-labelledby="modalLabel{{ proveedor.id }}"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 text-danger" id="modalLabel{{ proveedor.id }}">
					Atencion!!</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Estas a punto de borrar el proveedor {{ proveedor.nombre }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cierra</button>
				<form action="{{ path('borrar_proveedor', {id: proveedor.id}) }}" method="POST">
					{# concatenacions symfony -> delete4 #}
					<input type="hidden" name="_token" value="{{csrf_token('delete' ~ proveedor.id)}}">
					<button type="submit" class="btn btn-danger">Borrar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endfor %}

{# script toggle mode light switch dark -> light #}
<script>

	const lightSwitch = document.querySelector("#toggle-mode")
	const selectAll = document.querySelector("body")

	lightSwitch.addEventListener('click', () => {
		document.body.classList.toggle('dark-mode')
		if (document.body.classList.contains('dark-mode')) {
			lightSwitch.textContent = 'Light'

		} else {
			lightSwitch.textContent = 'Dark'
		}
	})
</script>

<style>
	body.dark-mode {
    background-color: #121212;
    color: #f9f9f9;
}

body.dark-mode .table {
    --bs-table-bg: #1e1e1e;
    --bs-table-color: #f9f9f9;
    --bs-table-border-color: #444;
    --bs-table-hover-bg: #2a2a2a;
	
}

body.dark-mode .table thead {
    --bs-table-bg: #2a2a2a;
    --bs-table-color: #f9f9f9;
}

body.dark-mode .border {
    border-color: #444 !important;
}

body.dark-mode .border.rounded {
    background-color: #1e1e1e;
}

body.dark-mode .navbar {
    background-color: #1e1e1e !important;
}
body.dark-mode .table-hover tbody tr:hover td,
body.dark-mode .table-hover tbody tr:hover th {
    color: #f9f9f9;
}
</style>

{% endblock %}